@import "./nord.css";

:root {
    --color-home-background: var(--nord5);

    --color-titlebar: var(--nord3);
    --color-titlebar-background: #F2F4F8;

    --color-hint: #979797;

    --color-tertiary-text: #6f7d97;

    --color-chart-background: #F2F4F8;

    --color-tag-background: #abdae1;
    --color-tag-background-hover: #c7e1e5;

    --color-text: var(--nord3);
    --color-author-name: #76acd2;
}

.dark {
    --color-home-background: var(--nord2);

    --color-titlebar: var(--nord6);
    --color-titlebar-background: var(--nord0);

    --color-hint: #ababab;

    --color-tertiary-text: #bdc7da;

    --color-chart-background: var(--nord0);

    --color-tag-background: #657f8b;
    --color-tag-background-hover: #405964;

    --color-text: var(--nord6);
    --color-author-name: #abdae1;
}