@import "./assets/theme.css";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    color: #88C0D0;
}

.n-layout-scroll-container {
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(150, 150, 150, 0.4);
    border-radius: 6px;
    transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(150, 150, 150, 0.6);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(150, 150, 150, 0.4) transparent;
}
